.footer {
    background:$pink;
    color:#fff;
    padding:30px;
    font-size:1em;

    .copyright {
        float:right;
        line-height:2em;
    }

    .social {
        float:left;

        a {
            font-size:1.5em;
            margin-right:20px;
        }
    }

    &:after {
        content:'';
        display:block;
        clear:both;
    }
}