/* Переменные */
$ptsans: 'PT Sans', sans-serif;

$purple:#6B0B6C;
$salad:#40B5AC;
$pink:#994E99;
$light-salad:#B7E3DF;

$red: #f32b1c;
$red-hover: #e62f22;
$green: #0bd812;
$grey: #3e4552;
$text: 14px;

@custom-media --medium (width <= 1200px);
@custom-media --tablet (width <= 960px);
@custom-media --phone (width <= 450px);
