header.header
  h1.logo Massage +
    span Reiketheraphy
  nav.menu
    ul
      li
        a(href="#") Programs
      li
        a(href="#") Price
      li
        a(href="#") For you
      li
        a(href="#") Contacts