main.homepage
  .welcome
    .welcome-header The whole World is Energy
    .welcome-sub-header Programs: Massage + Reikitherapy
  .plans
    .plan
      .plan-header Rejuvenation
      .plan-sub-header at the DNA level
      .plan-synopsis For 10 sessions, the aging program stops and a program for rejuvenation is installed.
      .plan-description 
        ul
          li 10 massage sessions 
          li 10 sessions External rejuvenation
          li 10 sessions Internal rejuvenation
    .plan
      .plan-header Spinal Therapy
      .plan-synopsis During the sessions there is:<br/> straightening of the spine, correcting the curvature of the pelvis and equalizing the length of the legs, releasing the clamped nerves.
      .plan-description 
        ul
          li -10 massage sessions 
          li -10 sessions Therapy of the Divine Body Alignment
          li -10 sessions Craniosacral therapy
    .plan
      .plan-header Chakrotherapy
      .plan-synopsis During the sessions:<br/>Cleansing, harmonization, activation, opening chakras. Elimination of blocks and activation of the entire energy system. Healing on all levels.
      .plan-description 
        ul
          li -10 massage sessions
          li -10 sessions Chakrotherapy
          li -10 sessions Chakroterapy - remotely
  .prices.wrapper
    .price
      .price-header Reikitherapy
      img.price-img(src="assets/img/r.png")
      ul.price-description 
        li - rejuvenation;
        li - alignment of the body and straightening of the spine;
        li - chakroterapiya;
        li - deep healing of the body at all levels;
        li - removal of stressful conditions, finding inner harmony;
        li - assistance in the implementation and materialization of the conceived;
        li - disclosure of deep talents;
      .price-amount Sessions from 10$
    .price.price--right
      .price-header Massage
      img.price-img(src="assets/img/m.png")
      ul.price-description 
        li -Balinese oil massage 
        li -Thai Traditional massage
      .price-amount 
        | 1 hour - 40$ <br/>
        | 1 hour 30 min - 50$ р <br/>
        | Course 10 session - from 350$ <br/>
  .links
    .link
      img(src="assets/img/1.png")
      //- a Life changing practices
    .link
      img(src="assets/img/2.png")
      //- a Interesting articles
    .link
      img(src="assets/img/3.png")
      //- a Places to see before you die
  .about.wrapper
    img.about-photo(src="assets/img/about.png")
    .about-header About me
    .about-description Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.

svg(width="922px" height="613px" viewBox="0 0 922 613" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink") <defs><clipPath id="clipping"><polygon id="path-1" points="921.687769 1.18757588 491.310184 611.967875 0.750534869 612.970374 0 0"></polygon></clipPath></defs>